workflow/universal_ai_chatbot_minified.json
{
  "name": "BMISCOBOT 2.1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2140,
        -800
      ],
      "id": "beb2b6a6-7c13-4eda-a47d-a715c2bfa670",
      "name": "When chat message received",
      "webhookId": "beb62d78-6d8b-45d1-9fa7-42b6783ba71b"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Knowledge_Base",
        "toolDescription": "the knowledge base",
        "tableName": {
          "__rl": true,
          "value": "your_table_name",
          "mode": "id"
        },
        "topK": "={{ $json.topK }}",
        "options": {
          "queryName": "your_vector_search_function"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -1000,
        -477.5
      ],
      "id": "60abb5de-3579-433f-988b-8b84df5445e2",
      "name": "Knowledge Search"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        -280
      ],
      "id": "6b93872c-aa26-4656-90ed-f321cec5dc44",
      "name": "Embeddings Generator"
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {
          "timezone": "Asia/Tehran"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -704,
        -480
      ],
      "id": "84644705-b161-412a-9939-ca306acaa0ca",
      "name": "Time Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -584,
        -480
      ],
      "id": "510b2962-ab38-4228-b922-5ad4a94a9e34",
      "name": "Calculator Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1480,
        -480
      ],
      "id": "2c0cc453-5724-44a1-bd4d-ebb2f17ae6fa",
      "name": "Language Model"
    },
    {
      "parameters": {
        "jsCode": "/*\nINPUT : items[0].json.chatInput\nOUTPUT: items[0].json.topK\n*/\nconst q   = $('Edit Fields1').first().json.chatInput || '';\nconst tok = q.split(/\\s+/).length;              // تخمین ساده تعداد توکن\nitems[0].json.topK = Math.min(20, Math.round(Math.log(tok + 1) * 8));\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1700,
        -700
      ],
      "id": "d65a4576-407a-4d88-aa50-59abb0b1100d",
      "name": "Token Scaler"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a modular and customizable AI assistant designed to interface with an organization's private knowledge base via vector retrieval. Your behavior, tools, and language should adapt to the needs of the user and the structure of the data provided.\n\n🧠 Core Capabilities:\n- Answer natural language questions based on a connected vector database.\n- Provide context-aware, relevant, and fact-based responses.\n- Retrieve and summarize documents, instructions, and structured information.\n\n🧰 Tools Available:\n- 🗃️ Vector Search (Primary knowledge source – based on project’s Supabase or other DB)\n- 🧮 Calculator (for logic/math-based questions)\n- 📅 Datetime tool (for time-related queries)\n- 🌐 Optional external tools: Wikipedia, Searxng, etc. (for general knowledge)\n\n🎯 Your mission is defined by the project's data and domain. You should:\n- Adapt responses to fit business, academic, customer service, or general support roles.\n- Handle ambiguous queries by asking for clarification before responding.\n- Never guess – use only data you have access to, or state if the information is missing.\n\n🔐 Response Expectations:\n- Be concise, clear, and structured.\n- Reference retrieved data when appropriate.\n- Use professional tone by default unless instructed otherwise.\n\n📌 Output Style (example):\n> “According to internal records, the standard safety procedure includes 5 steps: …”\n\n⚠️ Security Note:\nYou must not hallucinate answers or invent facts beyond what is retrieved or verifiable.\n\n🧩 Customization:\nThis agent is intended to be repurposed. Project creators are expected to:\n- Replace this prompt with domain-specific instructions\n- Add/remove tools depending on use case\n- Modify tone/style depending on end-user\n\nYou are not just a chatbot.\nYou are also an intelligent interface between users and their data.\n"
        }
      },
      "id": "af138e1c-1387-47cb-9e24-3e3c5b89d773",
      "name": "Main Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1208,
        -700
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -1240,
        -480
      ],
      "id": "3511758f-be8e-40b6-a5dd-1f1ee2a9417a",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalFields": {
          "safesearch": "2",
          "format": "html"
        }
      },
      "type": "n8n-nodes-searxng.searxngTool",
      "typeVersion": 1,
      "position": [
        -1120,
        -480
      ],
      "id": "10533afb-8e1d-4804-9824-3a208b48696b",
      "name": "Searxng1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5ac6093-13e7-4ca7-b2a2-fda8e0add06f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -384,
        -700
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        -480
      ],
      "id": "b15f69e5-2c4a-4c17-8d44-8f6fc6e7852e",
      "name": "Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "63613173-9e3e-4621-b7e5-b97d0dce25cb",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_n8n_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5f4c7b45-0e70-4f98-820f-4f1e998f2fb8",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2140,
        -600
      ],
      "webhookId": "d8caba16-7e56-4031-8b02-cea1926742e3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Scaler": {
      "main": [
        [
          {
            "node": "Main Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory1": {
      "ai_memory": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Searxng1": {
      "ai_tool": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Search": {
      "ai_tool": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Time Tool": {
      "ai_tool": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "Main Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Generator": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Main Assistant": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Token Scaler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d954ecb6-8640-4fd5-8861-60254b029e52",
  "meta": {
    "instanceId": "aa8132ecbb5ca012877f9c306788f29623bb831ea5c030377bd7a09885eca121"
  },
  "id": "vdLeTpPEL6kI6af1",
  "tags": []
}